html{
    background: #3f4756;
    font-family:sans-serif;
    color:aliceblue;
}
a{
    color:rgb(103, 182, 251);
}
canvas {
    border: 3px solid white;
}
/*classes*/
.header {
    background-color: rgb(27, 34, 30);
    padding: 3%;
    margin-top: -2%;
    margin-left: -2%;
    margin-right: -2%;

}
/* IDS */

#center {

    text-align: center;
}

#coolfont {

    font-family: monospace;
}

#background {
    background-image: url(in-the-forest-wallpaper-room.jpg); 
    height: 105vh; 
    width: 102vw; 
    margin-left: -2%;
    background-repeat: no-repeat; 
    background-size: cover;
}