html{
    background: #3f4756;
    font-family:sans-serif;
    color:aliceblue;
}
a{
    color:rgb(103, 182, 251);
}
/*classes*/
.header {
    background-color: rgb(30, 53, 46);
    padding: 6%;
    margin-top: -2%;
    margin-left: -2%;
    margin-right: -2%;

}
/* IDS */

#center {

    text-align: center;
}

#coolfont {

    font-family: monospace;
}

#background {
    background-image: url(in-the-forest-wallpaper-room.jpg); 
    height: 100vh; 
    width: 100vw; 
    background-repeat: no-repeat; 
    background-size: cover;
}