html{
    background: black;
    font-family:arial;
    color:white;
}

img {
    border-radius: 15px;
}

div {
    padding:3%;
    background-color: #0362ab;
    margin-bottom: 10px;
    border-radius: 10px;
}

a {
    color: #00bbff;
    text-decoration:none;
}

.nav {
    display: flex;
    justify-content: space-evenly;
}

.post {
    background-color: #313234;
    outline-style: solid;
    outline-color: #dddddd;
    outline-width: 2px;
    padding: 2%;
    margin: 1%;
}

#inactive {
    color: white;
}
