html{
    background: black;
    font-family:arial;
    color:white;
}

img {
    border-radius: 15px;
}

div {
    padding:2%;
    background-color: #5d9afc;
    margin-bottom: 10px;
    border-radius: 10px;
}

a {
    color: #00bbff;
    text-decoration:none;
}

.nav {
    padding: 3%;
    display: flex;
    justify-content: space-evenly;
}

.post {
    background-color: #313234;
    outline-style: solid;
    outline-color: #dddddd;
    outline-width: 2px;
    padding: 2%;
    margin: 1%;
}

#inactive {
    color: white;
}
#comment{
    background-color: #313234;
    outline-style: solid;
    outline-color: #075fb7;
    outline-width: 2px;
    padding-top: 0.002%;
    padding-bottom: 0.002%;
    padding-left: 1%;
    
}
