html{
    background: black;
    font-family:arial;
    color:white;
}

a{
    color:aqua;
}

.navbar{
    display: flex; justify-content: center;
    gap: 20px;
    padding: 20px;
    background: blue;

}
