html{
    background: black;
    font-family:arial;
    color:white;
}

img {
    border-radius: 15px;
}

div {
    padding:3%;
    background-color: #5d9afc;
    margin-bottom: 10px;
    boarder-radius: 10px;
}

.nav {
    display: flex;
    justify-content: space-evenly;
}

#inactive {
    color: white;
}