html{
    font-family:Arial;
    background-color: #0059e8;
    color: white;
}

a{
    color: yellow;
    text-decoration: none;
}

a{
    color:aqua;
}

.navbar{
    display: flex; justify-content: center;
    gap: 20px;
    padding: 20px;
    background: blue;

}
